@model Demo.BL.Models.EmployeeVM

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<br />
<center>
    <h2> are you sure to delete this data?</h2>
</center>

<form class="form-group" asp-controller="Employee" asp-action="Delete">

    <div asp-validation-summary="All" class="text-danger"></div>



    <label asp-for="Name">Employee Name</label>
    <input type="text" class="form-control" asp-for="Name" disabled />
    <br />


    <label asp-for="Salary">Employee Salary</label>
    <input type="text" class="form-control" asp-for="Salary" disabled >
    <br />

    <br />


    <label asp-for="Email">Employee Email</label>
    <input type="text" class="form-control" asp-for="Email" disabled />
    <br /> <br />


    <label asp-for="Address">Employee Address</label>
    <input type="text" class="form-control" asp-for="Address" disabled />
    <br /> <br />


    <label asp-for="HireDate">HireDate</label>
    <input type="date" class="form-control" asp-for="HireDate" disabled />

    <br /> <br />



    <label asp-for="Notes"> Notes</label>

    <textarea rows="4" class="form-control" asp-for="Notes" disabled>

</textarea>
    <br /> <br />


    <div class="demo-checkbox">
        <input type="checkbox" asp-for="IsActive" checked="" disabled>
        <label asp-for="IsActive">IsActive</label>
    </div>
    <br /> <br />


    <select asp-items="(SelectList)ViewBag.DepartmentList" asp-for="DepartmentId" disabled>
        <option> Choose Department</option>
    </select>

    <center>
        <input type="submit" value="Delete" class="btn btn-primary" />
    </center>

</form>
