@model IdentityUser

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>


<form asp-controller="Users" asp-action="Delete" class="form-group">


    <label asp-for="Id">Id</label>
    <input asp-for="Id" type="text" readonly class="form-control" />
    <br />

    <label asp-for="UserName">User Name</label>
    <input asp-for="UserName" type="text" class="form-control" readonly />
    <br />

    <label asp-for="Email">Email</label>
    <input asp-for="Email" type="text" class="form-control" readonly />
    <br />


    <input type="submit" value="Delete" class="btn btn-primary btn-block" />

</form>
