@model IdentityUser

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>


<form asp-controller="Users" asp-action="Delete" class="form-group">


    <label asp-for="Id">Id</label>
    <input asp-for="Id" type="text" readonly class="form-control" />
    <br />

    <label asp-for="UserName">User Name</label>
    <input asp-for="UserName" type="text" class="form-control" readonly />
    <br />

    <label asp-for="Email">Email</label>
    <input asp-for="Email" type="text" class="form-control" readonly />
    <br />



</form>
<br />

<center>
    <a asp-controller="Users" asp-action="Index" class="btn btn-primary">Back To Data</a>
    <a asp-controller="Users" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Edit</a>
    <a asp-controller="Users" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
</center>
